{{!< default}}

<main class="main_rocky" role="main">
{{#post}}
<article class="article_rocky" role="article" itemscope itemtype="http://schema.org/Article">
<header>
	<time class="date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
	<h1 class="posttitle" itemprop="headline">{{title}}</h1>
</header>
<div class="postcontent" itemprop="articleBody">
	{{content}}
</div>
{{#if tags}}
<div class="posttags">
Tags: {{tags separator=" | "}}
</div>
{{/if}}
    <div class="sharepost">
    <h4 class="share">Share this post: &nbsp;</h4>
    <a class="share icon-twitter" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"><span class="hidethis">Twitter</span></a>
    <a class="share icon-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"><span class="hidethis">Facebook</span></a>
    <a class="share icon-gplus" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="hidethis">Google+</span></a>
    </div>
        {{#if author}}
        <footer class="postfooter">
        <address itemscope itemtype="http://schema.org/Person">
        {{#if author.image}}
        <div class="authorimage"><img src="{{author.image}}" itemprop="image" /></div>
        {{/if}}
        <h4 class="authorname"><span itemprop="author">{{author.name}}</span></h4>
        {{#if author.website}}
        <div class="authorwebsite"><a href="{{author.website}}" itemprop="url">{{author.website}}</a></div>
        {{/if}}
        </address>
        <div class="authorbio">
        <p>{{author.bio}}</p>
        </div>
        </footer>
        {{/if}}
</article>
{{/post}}
{{#if pagination}}
<div class="pagination_rocky">
{{{pagination}}}
</div>
{{/if}}
</main>